@media only screen and (min-width: 320px) and (max-width: 1023px) {
 body {
  overflow-x: hidden;
 }
 .main-bottle-img {
  width: 100%;
  position: relative !important;
  bottom: auto !important;
  left: 0 !important;
 }

 .hide-on-mobile {
  display: none !important;
 }

 .dark-section-mobile {
  background: #c9cacc;
 }

 .ms-tableCell {
  padding: 0px 20px;
 }

 .accordion-content {
  p {
   width: 90%;
  }
 }

 .section-one-mobile .ms-tableCell {
  vertical-align: bottom;
  .content-center-wrapper {
   padding-bottom: 60px;
  }
 }

 .mobile-small-headings {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #0b1437;
  margin-top: 5px;
 }

 .mobile-logo-center {
  position: absolute;
  z-index: 2;
  margin: auto;
  left: 0;
  right: 0;
  top: 30px;
  text-align: center;
 }

 .small-space {
  padding: 8px;
  margin: 0px;
  padding-left: 0px;
  padding-bottom: 20px;
 }

 .content-center-wrapper {
  height: auto;
  display: flex;
  flex-direction: column;
 }

 .ss-content {
  // width: calc(100% + -25px) !important;
 }

 h3 {
  font-size: 22px;
  line-height: 20px;
  color: #0b1437;
 }

 .light-section-mobile {
  background: #eef3fc;
 }

 .page-content {
  width: 100%;
  text-align: left;
 }

 .mobile-margin-top-20 {
  margin-top: 20px;
 }

 .ms-tableCell-mobile-height .ms-tableCell {
  height: auto !important;
  padding: 20px;
 }
 .content-heading {
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
 }

 .ms-section.ms-table {
  height: auto !important;
 }

 header .desktop-menu {
  display: none !important;
 }

 .mobile-menu {
  display: block;
 }

 .mobile-heading {
  font-size: 18px;
  text-align: left;
 }

 .accordion button .accordion-title {
  padding: 1em 0 1em 2em;
  font-size: 13px;
 }

 footer #menu {
  display: none !important;
 }

 .mm-spn.mm-spn--navbar ul {
  top: 0 !important;
 }

 .ms-viewing-shop .main-bottle img {
  position: absolute;
  right: calc(70vw - 520px);
  left: -30vw;
 }

 footer {
  display: none;
 }
}

@media only screen and (min-width: 1024px) and (max-width: 9999px) {
 .mobile-menu-btn {
  display: none;
 }

 .ms-table.active {
  .ms-tableCell {
   animation: fade-content 1s;
   opacity: 1;
  }
 }

 #right2 .ms-tableCell {
  padding: 0px 30px 0px 20%;
 }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
 .main-bottle img {
  width: 100%;
 }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
 .main-bottle img {
  width: 86%;
 }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
 .ms-viewing-shop .main-bottle img {
  position: absolute;
  right: calc(70vw - 520px);
  left: -30vw;
 }
}

@media only screen and (min-width: 1300px) and (max-width: 1500px) {
 .ms-viewing-shop .main-bottle img {
  position: absolute;
  right: calc(70vw - 520px);
  left: -9vw;
 }

 .ms-tableCell {
  padding: 0px 18%;
 }
}

@media only screen and (min-width: 1700px) and (max-width: 2000px) {
 .ms-viewing-shop .main-bottle img {
  position: absolute;
  right: calc(70vw - 520px);
  left: 2vw;
 }
}

@media only screen and (min-width: 1024px) and (max-width: 9000px) {
 .hide-on-desktop {
  display: none;
 }
}
