@media only screen and (max-width: 767px) {
 .main-bottle-img {
  width: 115px;
 }

 .ms-tableCell {
 }

 .content-heading {
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
 }
}
