@media only screen and (min-width: 320px) and (max-width: 1023px) {
 .main-bottle-img {
  width: 100%;
 }

 .hide-on-mobile {
  display: none !important;
 }

 .ms-tableCell {
  padding: 0px 20px;
 }

 .accordion-content {
  p {
   width: 90%;
  }
 }

 .small-space {
  padding: 8px;
  margin: 0px;
  padding-left: 0px;
  padding-bottom: 20px;
 }

 .content-center-wrapper {
  height: auto;
  display: flex;
  flex-direction: column;
 }

 .ss-content {
  width: calc(100% + -25px) !important;
 }

 h3 {
  font-size: 22px;
  line-height: 20px;
  color: #0b1437;
 }

 .light-section-mobile {
  background: #ebecee;
 }

 .page-content {
  width: 100%;
  text-align: left;
 }

 .mobile-margin-top-20 {
  margin-top: 20px;
 }

 .content-heading {
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
 }

 header .desktop-menu {
  display: none !important;
 }

 .mobile-menu {
  display: block;
 }

 .mobile-heading {
  font-size: 30px;
  text-align: left;
 }

 footer #menu {
  display: none !important;
 }

 .mm-spn.mm-spn--navbar ul {
  top: 0 !important;
 }

 .ms-viewing-shop .main-bottle img {
  position: absolute;
  right: calc(70vw - 520px);
  left: -30vw;
 }

 footer {
  display: none;
 }

 #right2 .ms-tableCell {
  padding: 0px 20px;
 }
}

@media only screen and (min-width: 1024px) and (max-width: 9999px) {
 .mobile-menu-btn {
  display: none;
 }

 .ms-tableCell {
  opacity: 0;
 }
 .ms-table.active {
  .ms-tableCell {
   animation: fade-content 1s;
   opacity: 1;
  }
 }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
 .main-bottle img {
  width: 100%;
 }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
 .main-bottle img {
  width: 86%;
 }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
 .ms-viewing-shop .main-bottle img {
  position: absolute;
  right: calc(70vw - 520px);
  left: -30vw;
 }
}

@media only screen and (min-width: 1300px) and (max-width: 1500px) {
 .ms-viewing-shop .main-bottle img {
  position: absolute;
  right: calc(70vw - 520px);
  left: -9vw;
 }

 .ms-tableCell {
  padding: 0px 18%;
 }
}

@media only screen and (min-width: 1700px) and (max-width: 2000px) {
 .ms-viewing-shop .main-bottle img {
  position: absolute;
  right: calc(70vw - 520px);
  left: 2vw;
 }
}

@media only screen and (min-width: 1024px) and (max-width: 9000px) {
 .hide-on-desktop {
  display: none;
 }
}
